# Ejemplo de archivo .env para generate_data_index.R
# No uses comillas ni espacios alrededor del igual

DB_HOST=localhost
DB_USER=usuario
DB_PASSWORD=contraseña
DB_NAME=eleccionesdb
DB_PORT=5432

CF_S3_ACCESS_KEY=tu_access_key
CF_S3_SECRET_KEY=tu_secret_key
CF_S3_ENDPOINT=https://tu-endpoint-url
CF_S3_BUCKET=tu-bucket
CF_S3_PUBLIC_BASE_URL=https://pub-cdn.tu-dominio.com
